/* High Res */

/* Default */

/* Tablet */

/* Mobile */
@media (max-width: 1065px) {
  .splash .splash-text .font-title {
    font-size: 24px;
    line-height: 26px;
  }
  .splash-text p {
    width: 92%;
    font-size: 11px;
  }
  .splash-text {
    margin-right: 3rem;
    width: 79%;
  }
  .splash-text .smaller {
    font-size: 12px;
    height: unset;
  }
  .splash .logo {
    width: 255px;
    height: 71px;
    left: 38px;
    overflow: hidden;
  }
  .splash {
    height: 75vh;
  }
  .splash .lines::before {
    height: calc(90% - 50px);
  }
  .splash .lines::after {
    width: 90%;
  }
  .home .about .tables ul {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }
  .splash .logo-top-left {
    display: block;
  }
  .trs .img-holder {
    height: 75px;
  }
  .email {
    font-size: 10px;
    bottom: 0;
    top: -72px;
    margin: auto;
    height: fit-content;
  }
  .email:after {
    right: 8px;
    bottom: -106px;
  }
  .transition .img-holder {
    height: 101px;
  }
  .about {
    display: block;
    padding: 0px 20px;
    margin-bottom: 90px;
  }
  .about .left-side {
    width: 100%;
  }

  .about .left-side p {
    padding: 15px 0px !important;
  }

  .home .about .anchor {
    width: 462px;
    height: 821px;
  }
  .about .left-side .mb-5 {
    margin: auto;
    width: fit-content;
  }
  .about .tables.flex {
    display: block;
  }
  .about .tables ul.mr-5 {
    margin-right: 0px;
  }
  .home .about p {
    text-align: center;
  }
  .home .about p:after,
  .home .about .tables li:after {
    left: 0px;
  }
  .home .about .tables li span {
    width: 70%;
  }
  .home .about .tables li {
    background: transparent;
  }
  .my-projects-at-glance {
    padding: 0px 20px;
  }
  .home .my-projects-at-glance .tab {
    height: 500px;
  }
  .desktop,
  .home .about .anchor,
  .home .my-projects-at-glance .tabs ul li span,
  .about .right-side .sq,
  .home .my-projects-at-glance .tabs ul li .close-icon,
  .home .my-projects-at-glance .tabs .single .left-side {
    display: none;
  }

  .home .my-projects-at-glance .tab .anchor-s {
    width: 100%;
    height: 121%;
    top: -48px;
  }
  .home .my-projects-at-glance .tabs .single .right-side {
    width: 100%;
    padding: 0px;
  }
  .home .my-projects-at-glance .tab .single {
    left: 0;
    width: 100%;
  }
  .home .my-projects-at-glance .tab .right-side .popout h2 {
    font-size: 18px;
  }
  .home .my-projects-at-glance .tab .right-side .popout p,
  .home .my-projects-at-glance .tab .right-side .popout .tag {
    font-size: 12px;
    margin-right: 5px;
  }
  .home .my-projects-at-glance .tab .right-side .popout .center-m {
    margin: auto;
    width: fit-content;
  }
  .home .my-projects-at-glance .tab .right-side .popout.tags-m {
    padding: 5px;
    margin-right: 0px;
    border-radius: 0px;
  }

  footer .transition-footer {
    height: 170px;
    top: -150px;
  }

  .job_sec {
    padding-top: 99px;
    margin-top: 0px;
  }
  .job_sec {
    display: grid;
    width: 100%;
    overflow: hidden;
    padding: 20px;
  }
  .job_sec .number,
  .job_sec .title {
    font-size: 12px;
  }
  .job_sec .number {
    width: fit-content;
  }
  .job_sec .main-title {
    width: 60%;
  }
  .job_sec .center-this {
    margin: auto;
    margin-bottom: 20px;
    width: 61%;
  }
  .job_sec .jobs-btns {
    display: flex;
    width: 100%;
  }
  .job_sec .jobs-btns li {
    width: 100%;
  }
  .job_sec .jobs-btns li button span {
    margin: auto;
  }
  .job_sec .under-job {
    display: grid;
  }
  .job_sec .jobs-btns button {
    padding: 10px 20px;
  }
  .job_sec .jobs-btns button::before {
    width: 100%;
    height: 2px;
    bottom: 0;
    top: unset;
  }
  .job_sec .jobs-btns .web-icon {
    display: none;
  }
  .job_sec .main-box {
    width: 100%;
  }
  .job_sec .jobs-btns button::after {
    width: 0;
    height: 2px;
    top: unset;
  }
  .job_sec .jobs-btns button.active::after {
    width: 100%;
    height: 2px;
  }
  .job_sec h2 {
    font-size: 10px;
    width: 100%;
  }
  .job_sec .single .mobile-margin {
    margin-bottom: 100px;
  }
  .job_sec .someinner {
    overflow: hidden;
  }
  .job_sec .skills .skills-map {
    display: grid;
  }
  .job_sec .left-side {
    width: 100%;
  }
  .cont-padding {
    padding-top: 12rem;
  }
  .contact {
    height: 370px;
    padding: 20px;
  }
  .contact .top p {
    font-size: 12px;
    width: 100%;
  }
  .contact .contact-form {
    width: 100%;
  }
  .search-container .inner-width,
  .search-container::after {
    width: 100%;
  }
  .skill-grid {
    width: 100%;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    padding: 8px 13px;
    display: block;
  }
  .skill-grid .wrap-this-for-phones {
    display: flex;
    justify-content: space-between;
  }
  .search-skills .phone-spacing {
    letter-spacing: 4px;
  }
  .skill-grid i,
  .search-skills .category-name .line-down,
  .skill-list.active .skill-grid.inner::after,
  .skill-grid.top-titlles,
  .menu-off {
    display: none;
  }
  .close-btn-cont {
    top: -56px;
    right: -17px;
    border-radius: 52px;
    padding: 20px;
    bottom: unset;
  }
  .gs {
    animation: gs 0.1s ease-in-out forwards;
  }
  .search-skills .category {
    max-height: 70vh;
    overflow: scroll;
    display: block;
  }
  .skill-list.titles .skill-name {
    display: grid;
  }
  .skill-list.titles .skill-name.onthe-right {
    text-align: right;
  }
  footer {
    margin-top: 72px;
    display: grid !important;
  }
  footer .img-holder.anc {
    display: none;
  }
  footer .left,
  footer .right {
    width: 100%;
    text-align: center;
    margin-top: 40px;
  }
  .mobile {
    display: block;
  }
  .temple {
    height: 203px;
    position: absolute;
    top: -198px;
    width: 100%;
    z-index: 10;
  }
  .rapper {
    margin-top: 200px;
  }
}
