/* High Res */

/* Default */

/* Tablet */

/* Mobile */
@media (max-width: 1065px) {
  .splash .splash-text .font-title {
    font-size: 30px;
    line-height: 36px;
  }
  .splash-text p {
    width: 92%;
    font-size: 14px;
  }
  .splash-text {
    margin-right: 3rem;
    width: 79%;
  }
  .splash-text .smaller {
    font-size: 15px;
    height: unset;
  }
  .splash .logo {
    width: 255px;
    height: 71px;
    left: 38px;
    overflow: hidden;
  }
  .splash::after {
    width: 89vw;
  }
  .splash::before {
    height: 87vh;
  }
  .email {
    font-size: 10px;
    bottom: 361px;
  }
  .email:after {
    right: 8px;
    bottom: -106px;
  }
  .transition .img-holder {
    height: 101px;
  }
  .about {
    display: block;
    padding: 0px 20px;
    margin-bottom: 90px;
  }
  .about .left-side {
    width: 100%;
  }

  .about .left-side p {
    padding: 15px 0px !important;
  }

  .home .about .anchor {
    width: 462px;
    height: 821px;
  }
  .about .left-side .mb-5 {
    margin: auto;
    width: fit-content;
  }
  .about .tables.flex {
    display: block;
  }
  .about .tables ul.mr-5 {
    margin-right: 0px;
  }
  .home .about p {
    text-align: center;
  }
  .home .about p:after,
  .home .about .tables li:after {
    left: 0px;
  }
  .home .about .tables li span {
    width: 70%;
  }
  .home .about .tables li {
    background: transparent;
  }
  .my-projects-at-glance {
    padding: 0px 20px;
  }
  .home .my-projects-at-glance .tab {
    height: 500px;
  }
  .desktop,
  .home .about .anchor,
  .home .my-projects-at-glance .tabs ul li span,
  .about .right-side .sq,
  .home .my-projects-at-glance .tabs ul li .close-icon,
  .home .my-projects-at-glance .tabs .single .left-side {
    display: none;
  }

  .home .my-projects-at-glance .tab .anchor-s {
    width: 100%;
    height: 121%;
    top: -48px;
  }
  .home .my-projects-at-glance .tabs .single .right-side {
    width: 100%;
    padding: 0px;
  }
  .home .my-projects-at-glance .tab .single {
    left: 0;
    width: 100%;
  }
  .home .my-projects-at-glance .tab .right-side .popout h2 {
    font-size: 18px;
  }
  .home .my-projects-at-glance .tab .right-side .popout p,
  .home .my-projects-at-glance .tab .right-side .popout .tag {
    font-size: 12px;
    margin-right: 5px;
  }
  .home .my-projects-at-glance .tab .right-side .popout .center-m {
    margin: auto;
    width: fit-content;
  }
  .home .my-projects-at-glance .tab .right-side .popout.tags-m {
    padding: 5px;
    margin-right: 0px;
    border-radius: 0px;
  }
  .home .previous-employment .work {
    height: 259px;
    top: 0px;
  }
  .home .previous-employment .cont-background {
    padding-top: 100px;
  }
  .jobs {
    display: block;
  }
  .home .jobs .jobs-btns {
    width: 81%;
    display: block;
    height: 37px;
    pointer-events: none;
  }
  .home .jobs .jobs-btns li {
    position: absolute;
    background: black;
    z-index: 10;
    width: 100%;
    display: flex;
    height: 100%;
  }
  .home .jobs .mobile-menu-op {
    display: flex;
    margin-bottom: 20px;
    position: relative;
    background: white;
    border: 1px solid white;
    border-radius: 3px;
  }
  .jobs .nav-bt {
    color: white;
    position: relative;
    z-index: 999;
    margin: auto;
    color: black;
  }

  .home .jobs .jobs-btns li button {
    display: block;
    padding: 0px;
    margin: auto;
    height: unset;
  }
  .home .jobs .jobs-btns li.active {
    z-index: 11;
  }
  .home .jobs .jobs-btns button.active::after {
    display: none;
  }
  .home .jobs .jobs-btns li button .web-icon {
    display: none;
  }
  .cont-background .container {
    padding: 0px 20px;
  }
  .home .jobs .jobs-btns li button {
    display: block;
    padding-left: 0px;
  }
  .home .job h2 {
    font-size: 17px;
    display: grid;
  }
  .home .job h2 span {
    margin-top: 10px;
  }
  .home .job h2 span i {
    margin: 0px;
  }
  .home .job .descr {
    font-size: 14px;
  }
  .home .job .skills-map {
    display: grid;
  }

  .home .previous-employment .exp {
    font-size: 42px;
  }
  .previous-employment {
    margin-top: 0px;
  }
  .previous-employment .clouds {
    width: 653px;
    top: -360px;
    position: absolute !important;
    left: 0;
  }
  .home .previous-employment .img-holder {
    height: 249px;
  }
  .job .single .right-side {
    width: 100%;
    padding: 0px;
  }

  .home .job .single.active {
    z-index: 999;
    background-color: black;
  }
  .home .previous-employment .img-holder.last .work {
    height: 82px;
    top: -11px;
  }
  .home .job {
    width: 100%;
    height: 551px;
  }
  footer .transition-footer {
    height: 170px;
    top: -150px;
  }
  .mobile nav {
    width: 100%;
    height: 100%;
  }
  .mobile nav .img-holder.tree {
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    height: 539px;
  }
  .mobile nav .img-holder.tree .work {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .mobile .font-nav {
    font-size: 22px;
    margin-bottom: 25px;
  }
  .mobile .nav-wrapper {
    transition: ease all 1s;
  }
  .mobile .nav-btn {
    position: absolute;
    right: 15px;
    top: 24px;
    z-index: 3001;
    width: 50px;
    height: 50px;
  }
  .mobile .nav-btn:after {
    content: "";
    width: 30px;
    position: absolute;
    height: 2px;
    background: white;
    right: 0px;
    top: 0px;
  }
  .mobile .nav-btn:before {
    content: "";
    width: 25px;
    position: absolute;
    height: 2px;
    background: rgb(168, 168, 168);
    right: 0px;
    top: 10px;
  }
  .mobile nav {
    position: relative !important;
  }
  .mobile .nav-wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 1;
  }
  .mobile .main-menu a {
    background: white;
    display: block;
    padding: 4px 18px;
    border-radius: 2px;
    margin-bottom: 10px;
    position: relative;
  }
  .mobile .main-menu a:before {
    content: "";
    position: absolute;
    top: 0;
    right: 40px;
    background: black;
    transition: ease all 1s;
    width: 2px;
    height: 100%;
  }
  .mobile .main-menu a .font-title {
    margin: 0;
  }
  .mobile .main-menu a .font-title .text {
    color: black;
  }
  .mobile .socials-head {
    position: absolute;
    bottom: 37px;
    width: 90%;
    height: 55px;
    left: 0;
    right: 0;
    margin: auto;
    background: rgb(255, 255, 255);
    display: flex;
    border-radius: 4px;
  }
  .mobile .socials-head ul {
    display: flex;
    position: relative;
    margin: auto;
  }
  .mobile .socials-head ul a {
    width: 55px;
    height: 55px;
    margin: auto;
    display: block;
    position: relative;
  }
  .mobile .how-is-it-going {
    height: 129px;
    width: 100%;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    margin-bottom: 11px;
  }
  .mobile .time {
    font-size: 32px;
    position: absolute;
    right: 9px;
    font-family: var(--ff--title);
    bottom: -4px;
  }
  .mobile .time.dots {
    right: 14px;
  }
  .mobile .how-is-it-going .temp {
    font-size: 80px;
    font-family: var(--ff--title);
    margin: 20px;
  }
  .mobile .how-is-it-going .weather {
    --ggs: 10;
    position: absolute;
    right: 70px;
    bottom: -23px;
  }
  .mobile .socials-head {
    display: block;
  }
  .mobile .how-is-it-going {
    display: block;
  }
  .splash .logo-top-left {
    display: block;
  }
  .mobile .main-menu .time {
    display: block;
  }
  .mobile .main-menu {
    background: black;
    padding-bottom: 20px;
  }

  .home .about .tables ul {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }
  .home .previous-employment .img-holder.last {
    height: 250px !important;
  }
  footer {
    margin-top: 299px;
    display: grid !important;
  }
  footer .img-holder.anc {
    display: none;
  }
  footer .left,
  footer .right {
    width: 100%;
    text-align: center;
    margin-top: 40px;
  }
  .mobile {
    display: block;
  }
  .home .jobs .mobile-menu-op {
    width: unset;
  }
}
